@import "~antd/dist/antd.css";

.logo {
  height: 32px;
  margin: 14px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout-background {
  background: #fff;
}

.title {
  padding: 0 16px;
  margin: 0 !important;
}

.header {
  display: flex;
  align-items: center;
}
